@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-blue-600 hover:bg-blue-500 text-white font-bold mx-2 my-1 py-2 px-4 rounded;
}

.inpt {
  @apply rounded-2xl px-4 py-2;
}

.amt {
  @apply w-16;
}